@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 100dvh;
  background-color: hsla(201, 23%, 13%, 1);
  background-image: radial-gradient(
      at 58% 100%,
      hsla(201, 100%, 44%, 0.16) 0px,
      transparent 50%
    ),
    radial-gradient(at 7% 0%, hsla(201, 100%, 44%, 0.25) 0px, transparent 50%);
  overflow-x: hidden;
}